<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

In [1]:
# Data Science Tools and Ecosystem

In [2]:
In this notebook, Data Science Tools and Ecosystem are summarized.

SyntaxError: invalid syntax (356759017.py, line 1)

In [9]:
**Objectives:**

- List popular languages for Data Science.
- Identify commonly used libraries in Data Science.
- Create Markdown cells with appropriate headings.
- Perform basic arithmetic operations in code cells.
- Convert units using expressions in code cells.

SyntaxError: invalid syntax (1073046943.py, line 1)

In [3]:
Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. SQL

SyntaxError: invalid syntax (1827216464.py, line 1)

In [4]:
Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. pandas
3. Matplotlib
4. scikit-learn

SyntaxError: invalid syntax (4228773390.py, line 1)

In [5]:
| Data Science Tools        |
|---------------------------|
| Jupyter Notebook          |
| RStudio                   |
| Visual Studio Code (VSCode)|

SyntaxError: invalid syntax (3515943511.py, line 1)

In [6]:
### Below are a few examples of evaluating arithmetic expressions in Python.

In [7]:
# This is a simple arithmetic expression to multiply then add integers.
result = (3 * 4) + 5
result

17

In [8]:
# This will convert 200 minutes to hours by dividing by 60.
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

In [ ]:
## Author
Alex Namel